* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: white;
}


.container {
    display: flex;
    min-height: 100vh;
    background-color: white;
}

.left {
    width: 50%;
    padding: 60px;
}

.logo {
    color: blue;
    margin-bottom: 40px;
    font-size: 20px;
}

.left h1 {
    color: blue;
    margin-bottom: 15px;
}

.subtitle {
    color: grey;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}


.options {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 14px;
}

.options a {
    color: blue;
    text-decoration: none;
}


.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.login-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px 25px;
    border-radius: 5px;
    
   
    cursor: pointer;
}

.social-text {
    margin-top: 40px;
    color: grey;
}

.social {
    margin-top: 10px;
}

.social a {
    margin-right: 15px;
    color: blue;
    text-decoration: none;
}


.right {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar {
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: black;      
    font-weight: 500;
}




.right img {
    width: 180%;
    max-width: 1000px;
    margin-top: 2px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .navbar {
        justify-content: center;
    }
}

.navbar {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;   
    gap: 40px;
}
.emai-section {
    color: rgb(194, 102, 255);
    font-size: 14px;
    margin-bottom: 12px;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #555;   
    font-size: 15px;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #3f51ff; 
}

input[type="email"],
input[type="password"] {
    width: 100%;
    height: 48px;                 
    padding: 0 16px;
    font-size: 14px;
    color: #333;
    border: 1px solid #e5e5e5;    
    border-radius: 6px;           
    background-color: #fff;
    outline: none;
}

input::placeholder {
    color: #b5b5b5;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3f51ff;        
}